body {
  background: #273348;
  font: bold 20px Arial, Tahoma, sans-serif;
}
.wrapper {
  max-width: 100%;
  text-align: center;
}
.wrapper h1 {
  font-size: 50px;
  color: #fff;
}
.win-lost-count {
  color: #eae4e4;
  font-size: 20px;
}
.counter {
  display: block;
  margin: 40px 0;
  font-size: 120px;
  color: #fff;
}
.ready {
  display: block;
  width: 170px;
  height: 60px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  color: #fff;
  background: #000;
  cursor: pointer;
}
.ready:hover {
  opacity: 0.8;
}
.clear {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
  color: rgba(234,228,228,0.9);
  cursor: pointer;
}
.clear:hover {
  text-decoration: none;
}
