$bg-body = #273348;
$white   = #fff
$black   = #000
$gray    = #eAe4e4

$Arial   = Arial, Tahoma, sans-serif

body
  background  $bg-body
  font bold 20px $Arial

.wrapper
  max-width 100%
  text-align center

  h1
    font-size 50px
    color $white

.win-lost-count
  color $gray
  font-size 20px

.counter
  display block
  margin 40px 0
  font-size 120px
  color $white

.ready
  display block
  width 170px
  height 60px
  margin 0 auto
  border none
  border-radius 5px
  font-size 30px
  color $white
  background $black
  cursor pointer
  &:hover
    opacity .8

.clear
  display inline-block
  margin-top 5px
  font-size 14px
  font-weight 300
  text-decoration underline
  color rgba($gray, .9)
  cursor pointer
  &:hover
    text-decoration none
