<!doctype html>
<html lang="en" ng-app='777TapApp'>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Can you tap 777?</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="CanTapCtrl" ng-keypress="enterKey($event)">

  <div class="wrapper">
    <h1>Can you tap 777?</h1>
    <div class="win-lost-count">
      WIN: <span ng-bind="countWin"></span>x / LOST: <span ng-bind="countLost"></span>x
    </div>
    <span class="clear" ng-click="clear()">clear</span>
    <span class="counter" ng-bind="counter"></span>
    <button class="ready" ng-show="toggleBtn" ng-click="startCount()">Ready!</button>
    <button class="ready" ng-hide="toggleBtn" ng-mousedown="stopCount()">Stop!</button>
  </div>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/module.js"></script>
  <script src="js/controller.js"></script>
</body>
</html>
